/*Styles for Contact container*/
.contact{
    width:92vw;
    padding: 12vw 0vw;
    margin-right:auto;
    margin-left:auto;
    display:flex;
    align-items:center;
    justify-content:center;
    .contact-form{
        align-items:center;
        justify-content:center;
        background:#8001FE;
        border-radius:5vw;
        display: flex;
        flex-direction:column;
        width:80%;
        padding: 0 0;
        #heading-contact{
            font-size:12vw;
            padding:3vw;
            color:white;
        }
        input.contact-form, textarea.contact-form{
            margin:1.75vw 0 ;
            padding: 1.75vw;
            background:white;
            font-family:monospace;
            font-size:2.75vw;
        }
        textarea.contact-form{
            resize: vertical;
        }
        #contact-button{
            margin:5vw 0;
            padding:4vw;
            background:black;
            color:white;
            border-radius:6vw;
            font-family:monospace;
            font-size:3vw;
        }
        #name{

        }
        #email{

        }
        #phone{

        }
        #message{

        }
    }
}