/*Written 8/22/2024: The CSS for
mobile will display up to 550px.
The CSS for tablets will display
1000 px.*/
@media only screen and (min-width: 551px){
    #bottomNavBar{
        padding:5vw 0;
        .my-links-container{
            #my-links-heading{
                font-size:6vw;
                margin-bottom:3vw;
            }
            a.my-links-container{
                font-size:3.4vw;
            }
        }
        .on-the-web-container{
            h3.on-the-web-container{
                font-size: 6.5vw;
                padding-bottom:0;
            }
            #normal-linkedin-logo{
                height:14vw;
            }
            #purple-linkedin-logo{
                height:14vw;
            }
            #normal-github-logo{
                height:14vw;
            }
            #purple-github-logo{
                height:14vw;
            }
        }
        .logo-container{
            display:grid;
            grid-row:1;
            grid-column:2;
        }
        img.logo-container{
            align-self: center;
            border-radius: 2vw;
            height: 26vw;
            width: 20vw;
        }
    }
}