/*Written 11/9/2024: The CSS for
mobile will display up to 550 px.
The CSS for tablets set vertically
will display up to 750 px. The CSS
for tablets turned horizontally will
display up to 1000 px.*/
@media only screen and (min-width: 1001px){
    /*Styles for the bottom nav bar*/
    #bottomNavBar{
        grid-template-columns: repeat(auto-fit, minmax(32vw, 1fr));    
        padding:2vw 0;
        .my-links-container{
            #my-links-heading{
                font-size:2.5vw;
                margin-bottom:0vw;
            }
            a.my-links-container{
                font-size:1.25vw;
                padding-bottom:0vw;
            }
        }
        .on-the-web-container{
            h3.on-the-web-container{
                font-size: 2.5vw;
                padding-bottom:0;
                margin-bottom:0vw;
            }
            #normal-linkedin-logo{
                height:6vw;
                align-self: auto;
            }
            #purple-linkedin-logo{
                height:6vw;
                align-self: auto;
            }
            #normal-github-logo{
                height:6vw;
                align-self: auto;
            }
            #purple-github-logo{
                height:6vw;
                align-self: auto;
            }
        }
        .logo-container{
            display:grid;
        }
        img.logo-container{
            justify-self: center;
            border-radius: .8vw;
            height: 12vw;
            width: 1s0vw;
        }
    }
    /*Styles for the container containing my portfolio*/
    .myPortfolio{
        padding: 8vw 0;
        grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));
        grid-gap:2vw;
        width:100%;
        #heading-my-portfolio{
            grid-column: auto / span 3;
            font-size:5vw;
            width:33vw;
            height:6vw;
        }
        /*Styles related to the Personal Finance Manager container.*/
        .personalFinanceManager{
            justify-content: right;
            #img-personal-finance-manager{
                border-radius: 7vw;
                width:25vw;
            }
            #financeHoverEffect{
                position:absolute;
                width:25.4vw;
                height:25.4vw;
                opacity:0;
                transition: 0.5s ease;
                justify-self:right;
                border-radius: 7vw;
            }
            #financeHoverEffect:hover {
                opacity:30%;
            }
        }
        .personalWebsite{
            #img-personal-website{
                border-radius: 7vw;
                width:25vw;
            }
            #personalWebsiteHoverEffect{
                position:absolute;
                width:25.4vw;
                height:25.4vw;
                opacity:0;
                transition: 0.5s ease;
                justify-self:center;
                border-radius: 7vw;
            }
            #personalWebsiteHoverEffect:hover {
                opacity:30%;
            }
        }
        .carbonesMarketingSystem{
            justify-content: left;
            #img-carbones-logo{
                border-radius: 7vw;
                height:25vw;
                width:25vw;
            }
            #carbonesHoverEffect{
                position:absolute;
                width:25.4vw;
                height:25.4vw;
                opacity:0;
                transition: 0.5s ease;
                justify-self:left;
                border-radius: 7vw;
            }
            #carbonesHoverEffect:hover {
                opacity:30%;
            }
        }
    }
    /*Styles for the Personal Finance Manager Popup*/
    .pop-up-personal-finance-manager{
        display:block;
        z-index: 3;
        position: fixed;
        overflow: auto;
        width:100%;
        height:0;
        left: 0;
        top: 0;
        transition:height .75s ease-in-out;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
        .pop-up-finance-content {
            width: 49%;
            height: auto;
            margin: 10% auto;
            background-color: white;
            box-sizing: border-box;
            border: .75vw solid;
            border-radius: 5vw;
            border-color: #7800B1FF;
            #pop-up-finance-close-button{
                float: right;
                margin: 1.35vw 3vw;
                background: rgba(0, 0, 0, 0);
                border-radius: 1vw;
                border-color: lightslategrey;
                color: #7800B1FF;
                font-size: 2vw;
                padding: .5vw .75vw;
                border-width: .3vw;
            }
            #pop-up-finance-close-button:hover{
                transition:.5s ease;
                color:white;
                background:#7800B1FF;
            }
            #image-personal-finance-manager{
                display:block;
                width:95%;
                margin-right:auto;
                margin-left:auto;
                display: block;
                border: .5vw solid;
                border-radius: 3vw;
                border-color: #7800B1FF;
            }
            #text-personal-finance-manager{
                font-size: 1.5vw;
                padding: 2vw;
            }
            a.pop-up-finance-content{
                font-size: 1.5vw;
                padding: 2vw;
                margin-left: 3vw;
                color: black;
                margin-bottom: .8vw;
                border: 0;
                background: none;
            }
            a.pop-up-finance-content:hover{
                transition: 0.5s ease;
                color:#7800B1FF;
                text-decoration-color:#7800B1FF;
            }
            #heading-personal-finance-manager{
                text-align: center;
                font-size: 3vw;
                padding: 0 10vw;
            }
        }
    }

    /*Styles for the Personal Website Popup*/
    .pop-up-personal-website{
        display:block;
        z-index: 3;
        position: fixed;
        overflow: auto;
        width:100%;
        height:0;
        left: 0;
        top: 0;
        transition:height .75s ease-in-out;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
        .pop-up-personal-website-content{
            width: 49%;
            height: auto;
            margin: 10% auto;
            background-color: white;
            box-sizing: border-box;
            border: .75vw solid;
            border-radius: 5vw;
            border-color: #7800B1FF;
            #image-personal-website{
                display:block;
                width:95%;
                margin-right:auto;
                margin-left:auto;
                border: .5vw solid;
                border-radius: 3vw;
                border-color: #7800B1FF;
            }
            #heading-personal-website{
                text-align: center;
                font-size: 3vw;
                padding: 0 10vw;
            }
            #pop-up-personal-website-close-button{
                float: right;
                margin: 1.35vw 3vw;
                background: rgba(0, 0, 0, 0);
                border-radius: 1vw;
                border-color: lightslategrey;
                color: #7800B1FF;
                font-size: 2vw;
                padding: .5vw .75vw;
                border-width: .3vw;
            }
            #pop-up-personal-website-close-button:hover{
                transition:.5s ease;
                color:white;
                background:#7800B1FF;
            }
            a.pop-up-personal-website-content{
                font-size: 1.5vw;
                padding: 2vw;
                margin-left: 3vw;
                color: black;
                margin-bottom: .8vw;
                border: 0;
                background: none;
            }
            a.pop-up-personal-website-content:hover{
                transition: 0.5s ease;
                color:#7800B1FF;
                text-decoration-color:#7800B1FF;
            }
            #text-personal-website{
                font-size: 1.5vw;
                padding: 2vw;
            }
        }
    }

    /*Styles for the Carbone's Website Popup*/
    .pop-up-carbones-website{
        display:block;
        z-index: 3;
        position: fixed;
        overflow: auto;
        width:100%;
        height:0;
        left: 0;
        top: 0;
        transition:height .75s ease-in-out;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
        .pop-up-carbones-website-content {
            width: 49%;
            height: auto;
            margin: 10% auto;
            background-color: white;
            box-sizing: border-box;
            border: .75vw solid;
            border-radius: 5vw;
            border-color: #7800B1FF;
            #pop-up-carbones-website-close-button{
                float: right;
                margin: 1.35vw 3vw;
                background: rgba(0, 0, 0, 0);
                border-radius: 1vw;
                border-color: lightslategrey;
                color: #7800B1FF;
                font-size: 2vw;
                padding: .5vw .75vw;
                border-width: .3vw;
            }
            #pop-up-carbones-website-close-button:hover{
                transition:.5s ease;
                color:white;
                background:#7800B1FF;
            }
            #image-carbones-website{
                display: block;
                width: 68%;
                margin-right: auto;
                margin-left: auto;
                height: 39vw;
                border: .5vw solid;
                border-radius: 5vw;
                border-color: #7800B1FF;
            }
            #pop-up-carbones-website-text{
                font-size: 1.5vw;
                padding: 2vw;
            }

            h3.carbonesMarketingSystem{
                text-align:center;
                font-size:3vw;
                padding:0 10vw;
            }
            a.pop-up-carbones-website-content{
                font-size: 1.5vw;
                padding: 2vw;
                margin-left: 3vw;
                color: black;
                margin-bottom: .8vw;
                border: 0;
                background: none;
            }
            a.pop-up-carbones-website-content:hover{
                transition: 0.5s ease;
                color:#7800B1FF;
                text-decoration-color:#7800B1FF;
            }
        }
    }
    /*Styles for the top navbar*/
    .topNavBar{
        overflow:hidden;
        position: fixed;
        width:100%;
        z-index:4;
        height:6vw;
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(32vw,1fr));
        background:rgb(45, 45, 45);
        .top-navbar-links-container{
            display:block;
            align-self: center;  
            grid-column: auto/span 2;
            justify-self: right;
        }
        a.top-navbar-links-container{
                padding: 4vw;
                margin: 0;
                font-size:2vw;
                display:inline;
            }
        a.top-navbar-links-container:hover {
            transition: 0.5s ease;
            color: white;
        }
        #purple-hamburger-bttn{
            display:none
        }
        .hamburger-bttn{
            display:none;
        }
    }
    .dropdown-menu{
        overflow:visible;
        position: fixed;
        display:block;
        width: 100%;
        height:0%;
        justify-content:center;
        transition:height .5s ease-in-out;
        z-index:3;
    }
    .dropdown-links-container{
        display:grid;
        height:0;
    }
    .dropdown-links{
        margin-bottom:5vw;
        padding: 0 5vw;
        font-size: 0;
        /*JavaScript lessens transition time when*/
        /*closing dropdown menu*/
        transition:font-size 1.2s ease-in-out;
    }
    .dropdown-links:hover{
        transition: 0.5s ease;
        color:white;
    }
    #dropdown-my-portfolio-link{
        margin-top:50vw;
    }
    .top-navbar-home-link{
        margin: 1vw;
        color:white;
        font-size:3vw;
        align-self:center;
        a.top-navbar-home-link:hover{
            transition: 0.5s ease;
            color:#7800B1FF;
        }
    }
    #contact-link{
        padding-right:4vw;
    }
    /*Styles for the About container*/
    .about{
        display:grid;
        grid-gap:2vw;
        position:relative;
        grid-template-columns: repeat(auto-fit, minmax(48vw,1fr));
        .about-container-text{
            padding: 0 0;
        }
        #heading-about{
            font-size: 4vw;
            width: 35vw;
            margin: 0 4vw;
            justify-self: center;
            margin-top: 2vw;
        }
        #about-text{
            color: white;
            padding-top: 3vw;
            margin: 0 2vw;
            font-size: 1.75vw;
        }
        .about-container-image-circuts{
            display:block;
            #about-image-circuts{
                width: 100%;
                height: 100%;
                object-fit: fill;
            }   
            #photo_credit{
                color: white;
                position: absolute;
                z-index: 1;
                top: 37vw;
                font-size: 1vw;
            }         
        }
    }
    /*Styles for Contact container*/
    .contact{
        width:50vw;
        padding: 6vw 0vw;
        margin-right:auto;
        margin-left:auto;
        display:flex;
        align-items:center;
        justify-content:center;
        .contact-form{
            align-items:center;
            justify-content:center;
            background: #7800B1FF;
            border-radius:3vw;
            display: flex;
            flex-direction:column;
            width:80%;
            padding: 0 0;
            #heading-contact{
                font-size:4vw;
                padding:1vw;
                color:white;
            }
            input.contact-form, textarea.contact-form{
                margin:.75vw 0 ;
                padding: .75vw 1vw;
                background:white;
                font-size:1vw;
                border-width:.25vw;
            }
            textarea.contact-form{
                resize: vertical;
            }
            #contact-button{
                margin:2vw 0;
                padding:1vw;
                background:rgb(45, 45, 45);
                color:white;
                border-radius:6vw;
                font-size:1vw;
                border-width:.25vw;
                transition: 0.5s ease;
            }
            #contact-button:hover{
                background:white;
                color:rgb(45, 45, 45);
                border-color:rgb(45, 45, 45);
            }
            #name{

            }
            #email{

            }
            #phone{

            }
            #message{

            }
        }
    }
    .headshot-title {
        margin-left: auto;
        margin-right: auto;
        display: grid;
        position: relative;
        background: #7800B1FF;
        height: 48vw;
        grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
        padding-top:2vw;
        /*Styles for text next to my headshot*/
        .self-description-headers {
            padding-top:0vw;
            grid-row: 1;
            display:grid;
            align-self:start;
            grid-column:span 2;
            .descriptors {
                font-size: 6vw;
                margin-left:4vw;
                p.descriptors {
                    margin: 1.5vw 0;
                    color: white;
                    background-color: rgb(45, 45, 45);
                    border-radius:4vw;
                }
                #descriptor-analyst {
                    margin-left:0;
                    width:30vw;
                    text-align:center;
                }
                #descriptor-designer {
                    /* margin-left:5vw; */
                    width:34vw;
                    text-align:center;
                    color: rgb(45, 45, 45);
                    background-color: white;
                }
                #descriptor-programmer {
                    /* margin-left:10vw; */
                    width: 44vw;
                    text-align:center;
                }
            }
        }
        .name-container{
            height:16vw;
            padding-top:5vw;
            margin-left:4vw;
            display:grid;
            align-content:center;
        }
        .name{
            text-align:center;
            color:white;
            font-size:7vw;
            background:rgb(45, 45, 45);
            border-radius:2vw;
            width:33vw;
            font-weight:bold;
            margin-block-start: 0;
            margin-block-end: 0;
        }
        /*Styles for headshot*/
        .headshot-below-headers{
            grid-column:span 3;
            padding-top:6vw;
            grid-row: 1;
            height:30vw;
            display:grid;
            #myHeadshot{
                height: 39vw;
                width:40vw;
                object-fit: cover;
                border:solid;
                border-color:white;
                border-radius: 10vw 0 0 10vw;
                margin-left:auto;
                border-right:none;
                border-width:1vw;
            }
        }
    }
}