/*Styles for the top navbar*/
.topNavBar{
    overflow:hidden;
    position: fixed;
    width:100%;
    z-index:4;
    height:13vw;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(50vw, 1fr));
    background:linear-gradient( black, #350E56);
    .top-navbar-links-container{
        display:none;
    }
    #purple-hamburger-bttn{
        display:none
    }
    .hamburger-bttn{
        height:9vw;
        width:14vw;
        justify-self:right;
        padding-right:5vw;
        display:flex;
        align-self:center;
        .hamburger-bttn-img{
            height:9vw;
            justify-content:center;
            align-items:center;
            margin-top:0.5vw;
            float:right;
        }
    }
}
.dropdown-menu{
    overflow:visible;
    position: fixed;
    display:block;
    width: 0%;
    height:0%;
    justify-content:center;
    transition:height .5s ease-in-out;
    z-index:3;
}
.dropdown-links-container{
    display:grid;
}
.dropdown-links{
    margin-bottom:5vw;
    padding: 0 5vw;
    color: #8001FE;
    font-family:monospace;
    font-size: 0;
    /*JavaScript lessens transition time when*/
    /*closing dropdown menu*/
    transition:font-size 1.2s ease-in-out;
}
.dropdown-links:hover{
    transition: 0.5s ease;
    color:white;
}
#dropdown-my-portfolio-link{
    margin-top:50vw;
}
.top-navbar-home-link{
    margin: 2vw;
    font-family:monospace;
    color:white;
    font-size:4.7vw;
    align-self:center;
    a.top-navbar-home-link:hover{
        transition: 0.5s ease;
        color:#8001FE;
    }
}