/*Styles for the About container*/
.about{
    background-color:#8001FE;
    display: grid;
    position: relative;
    #heading-about{
        font-size:14vw;
        color:#8001FE;
        text-align:center;
        margin:0 10vw;
        padding:3vw;
        background-color:white;
        border-radius:11vw;
    }
    .about-container-text{
        padding:7vw 0;
    }
    #about-text{
        color:white;
        padding-top:7vw;
        margin:0 6vw;
        font-size:4.4vw;
    }
    .about-container-image-circuts{
        display:none;
    }
}