@media only screen and (min-width:0px){
    .topNavBar{
        height:10vw;
    }
    .top-navbar-home-link{
        font-size:4vw;
    }
    /*.topNavBar{*/
    /*    height:17vw;*/
    /*    grid-gap:0em;*/
    /*}*/
    .hamburger-bttn{
    }
    #grey-hamburger-bttn{
        display:flex;
    }
    #purple-hamburger-bttn{
        display:none;
    }
    .top-navbar-links-container{
        display:none;
    }
    .headshot-title{
        height:60vw;
        .headshot-below-headers{
            padding-top:10vw;
        }
        .self-description-headers{
            padding-top:7.4vw;
        }
    }
    .contact{
        display:flex;
    }
    #bottomNavBar{
        display:grid;
        .logo-container{
            display:none
        }
    }
}

@media only screen and (min-width: 601px){
    .about-container-image-circuts{
        height:40em;
        #about-image-circuts{
            height:100%;
            width:100%;
            object-fit:fill;
        }
    }
    .topNavBar{
        height:4em;
    }
    .top-navbar-home-link{
        font-size:1.6em;
    }
    #grey-hamburger-bttn{
        display:none;
    }
    #purple-hamburger-bttn{
        display:none;
    }
    .top-navbar-links-container{
        display:grid;
    }
    .myPortfolio{
        display:grid;
        width:100vw;
        grid-template-columns: repeat(auto-fit, minmax(33.3vw, 1fr));
        #heading-my-portfolio{
            grid-column: auto / span 3;
        }
    }
}
