/*Styles for the container holding the headshot and my titles*/
.headshot-title {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    position: relative;
    background-color: #8001FE;
    height: 60vw;
    grid-template-columns: repeat(auto-fit, minmax(50vw, 1fr));

    /*Styles for text next to my headshot*/
    .self-description-headers {
        width:50vw;
        padding-top:7.4vw;
        grid-row: 1;
        z-index: 1;

        .descriptors {
            font-size: 6.2vw;
            font-family: monospace;

            p.descriptors {
                margin: 1.9vw 0;
                color: white;
                background-color: black;
                border-radius:4vw;
            }
            #descriptor-analyst {
                margin-left:0;
                width:26vw;
            }
            #descriptor-designer {
                width:29vw;
                float: right;
                margin-right:0;
            }
            #descriptor-programmer {
                color: black;
                background-color: white;
                width: 37vw;
                margin: auto;
            }
        }
    }

    .name-container{
        height:23vw;
        width:60%;
    }
    .name{
        padding-top:4.4vw;
        vertical-align: text-bottom;
        text-align:center;
        color:white;
        font-family:monospace;
        font-size:6vw;
        text-decoration: underline;
    }
    /*Styles for headshot*/
    .headshot-below-headers{
        padding-top:10vw;
        grid-row: 1;
        background-color:#8001FE;
        height:33vw;
        #myHeadshot{
            height:50vw;
            object-fit: contain;
        }
    }
}