/*Styles for the container containing my portfolio*/
.myPortfolio{
    background-color:white;
    padding:8vw 0;
    display: grid;
    position: relative;
    grid-gap:3vw 0;
    grid-template-columns: repeat(auto-fit, minmax(33.3vw, 1fr));
    #heading-my-portfolio{
        grid-column:auto/span 3;
        color: white;
        text-align: center;
        font-size:7vw;
        background: linear-gradient(#cf9bfe, #8001FE);
        border-radius:13vw;
        margin-right:auto;
        margin-left:auto;
        width:61vw;
        height:9vw;
    }
    /*Styles related to the Personal Finance Manager container.*/
    .personalFinanceManager{
        position:relative;
        display: grid;
        align-content: center;
        justify-content: center;
        #img-personal-finance-manager{
            border-radius: 5em;
            width:30vw;
            border: solid;
            border-color: black;
        }
        #financeHoverEffect{
            position:absolute;
            width:30vw;
            height:30.4vw;
            opacity:0;
            transition: 0.5s ease;
            justify-self:center;
            border-radius:5em;
        }
    }
    #financeHoverEffect:hover {
        opacity:30%;
    }
    .personalWebsite{
        position:relative;
        display: grid;
        align-content: center;
        justify-content: center;
        img.personalWebsite{
            border-radius:5em;
            width:30vw;
            border: solid;
            border-color: black;
        }
        #personalWebsiteHoverEffect{
            position:absolute;
            width:30vw;
            height:30.4vw;
            opacity:0;
            transition: 0.5s ease;
            justify-self:center;
            border-radius:5em;
        }
    }
    #personalWebsiteHoverEffect:hover {
        opacity:30%;
    }
    .carbonesMarketingSystem{
        position:relative;
        display: grid;
        align-content: center;
        justify-content: center;
        img.carbonesMarketingSystem{
            border-radius:5em;
            height:30vw;
            width:30vw;
            object-fit: scale-down;
            border: solid;
            border-color: black;
        }
        #carbonesHoverEffect{
            position:absolute;
            width:30vw;
            height:30.4vw;
            opacity:0;
            transition: 0.5s ease;
            justify-self:center;
            border-radius:5em;
        }
    }
    #carbonesHoverEffect:hover {
        opacity:30%;
    }
}

/*Styles for the Personal Finance Manager Popup*/
.pop-up-personal-finance-manager{
    display:block;
    z-index: 3;
    position: fixed;
    overflow: auto;
    width:100%;
    height:0%;
    left: 0;
    top: 0;
    transition:height .75s ease-in-out;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    .pop-up-finance-content {
        width:60%;
        height: auto;
        margin: 15% auto;
        background-color: white;
        box-sizing: border-box;
        border: .5em solid;
        border-radius: 1.5em;
        border-color: #8001FE;
        #pop-up-finance-close-button{
            float:right;
            margin:.3em .7em;
            background:rgba(0,0,0,0);
            border-radius:.3em;
            border-color:lightslategrey;
            color:#8001FE;
            font-family:monospace;
            font-size:1.8em;
        }
        #pop-up-finance-close-button:hover{
            transition:.5s ease;
            color:white;
            background:#8001FE;
        }
        #image-personal-finance-manager{
            display:block;
            width:50em;
            margin-right:auto;
            margin-left:auto;
        }
        #text-personal-finance-manager{
            padding:2em;
        }
        a.pop-up-finance-content{
            font-family: monospace;
            font-size:1.75em;
            padding:.5em;
            margin-left:.75em;
            color:black;
            margin-bottom:.2em;
            border:0;
            background:none;
        }
        a.pop-up-finance-content:hover{
            transition: 0.5s ease;
            color:#8001FE;
            text-decoration-color:#8001FE;
        }
        #heading-personal-finance-manager{
            text-align:center;
            font-size:4em;
        }
    }
}

/*Styles for the Personal Website Popup*/
.pop-up-personal-website{
    display:block;
    z-index: 3;
    position: fixed;
    overflow: auto;
    width:100%;
    height:0%;
    left: 0;
    top: 0;
    transition:height .75s ease-in-out;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    .pop-up-personal-website-content{
        width: 60%;
        height: auto;
        margin: 15% auto;
        background-color: white;
        box-sizing: border-box;
        border: .5em solid;
        border-radius: 1.5em;
        border-color: #8001FE;
        #image-personal-website{
            display:block;
            width:50em;
            margin-right:auto;
            margin-left:auto;
        }
        #heading-personal-website{
            text-align:center;
            font-size:4em;
        }
        #pop-up-personal-website-close-button{
            float:right;
            margin:.3em .7em;
            background:rgba(0,0,0,0);
            border-radius:.3em;
            border-color:lightslategrey;
            color:#8001FE;
            font-family:monospace;
            font-size:1.8em;
        }
        #pop-up-personal-website-close-button:hover{
            transition:.5s ease;
            color:white;
            background:#8001FE;
        }
        a.pop-up-personal-website-content{
            font-family: monospace;
            font-size:1.75em;
            padding:.5em;
            margin-left:.75em;
            color:black;
            margin-bottom:.2em;
            border:0;
            background:none;
        }
        a.pop-up-personal-website-content:hover{
            transition: 0.5s ease;
            color:#8001FE;
            text-decoration-color:#8001FE;
        }
        #text-personal-website{
            padding:2em;
        }
    }
}

/*Styles for the Carbone's Website Popup*/
.pop-up-carbones-website{
    display:block;
    z-index: 3;
    position: fixed;
    overflow: auto;
    width:100%;
    height:0%;
    left: 0;
    top: 0;
    transition:height .75s ease-in-out;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    .pop-up-carbones-website-content {
        width: 60%;
        height: auto;
        margin: 15% auto;
        background-color: white;
        box-sizing: border-box;
        border: .5em solid;
        border-radius: 1.5em;
        border-color: #8001FE;
        #pop-up-carbones-website-close-button{
            float:right;
            margin:.3em .7em;
            background:rgba(0,0,0,0);
            border-radius:.3em;
            border-color:lightslategrey;
            color:#8001FE;
            font-family:monospace;
            font-size:1.8em;
        }
        #pop-up-carbones-website-close-button:hover{
            transition:.5s ease;
            color:white;
            background:#8001FE;
        }
        #image-carbones-website{
            display:block;
            width:30em;
            margin-right:auto;
            margin-left:auto;
        }
        #pop-up-carbones-website-text{
            padding:2em;
        }
        #link-my-projects{
            font-family: monospace;
            font-size:1.75em;
            padding:.5em;
            margin-left:.75em;
        }
        h3.carbonesMarketingSystem{
            text-align:center;
            font-size:4em;
            padding:0em .5em;
        }
        a.pop-up-carbones-website-content{
            font-family: monospace;
            font-size:1.75em;
            padding:.5em;
            margin-left:.75em;
            color:black;
            margin-bottom:.2em;
            border:0;
            background:none;
        }
        a.pop-up-carbones-website-content:hover{
            transition: 0.5s ease;
            color:#8001FE;
            text-decoration-color:#8001FE;
        }
    }
}