/*Styles for general tags*/
.wrapper{
    width:5px;
}
body{
    margin:0;
}

h2{
    font-family:monospace;
    font-size:50px;
    color: #8001FE;
    margin-block-start: 0em;
    margin-block-end:0em;
}
h3{
    color: #8001FE;
    font-family:monospace;
    font-size:35px;
}
p{
    margin-block-start: 0em;
    margin-block-end:0em;
    color: #8001FE;
    font-family:monospace;
    font-size:5vw;
}

button{
    position:relative;
}
img{
    overflow: hidden;
    overflow-clip-margin: unset;
}
/*Styles for the top navbar*/
.topNavBar{
    overflow:hidden;
    position: fixed;
    width:100%;
    z-index:3;
    height:25vw;
    display:grid;
    grid-gap:2em;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    background:linear-gradient( black, #350E56);
    .top-navbar-links-container{
        padding: 1.5em 0;
        grid-column:auto/span 2;
        margin-left: 25em;

        a.top-navbar-links-container{
        font-family:monospace;
        color: #8001FE;
        font-size:1.5em;
        padding:2.2em;
        margin: 0;
        }
        a.top-navbar-links-container:hover{
            transition: 0.5s ease;
            color:white;
        }
    }
    .hamburger-bttn{
        height:15.4vw;
        .hamburger-bttn-img{
            height:13vw;
            justify-content:center;
            align-items:center;
            margin-top:2vw;
            float:right;
        }
    }
}
.dropdown-menu{
    overflow:hidden;
    position: fixed;
    display:block;
    width: 0%;
    height:0%;
    justify-content:center;
    transition:height .75s ease-in-out;
    z-index:2;
}
.dropdown-links-container{
    display:grid;
}
.dropdown-links{
    margin-bottom:.5em;
    padding: 0 .5em;
    color: #8001FE;
    font-family:monospace;
    font-size: 0vw;
}
.dropdown-links:hover{
    transition: 0.5s ease;
    color:white;
}
#dropdown-my-portfolio-link{
    margin-top:25vw;
}

.top-navbar-home-link{
    margin: 1vw 0;
    font-family:monospace;
    color:white;
    margin-left:2.25vw;
    display:flex;
    width:50%;
    font-size:5vw;
    a.top-navbar-home-link:hover{
        transition: 0.5s ease;
        color:#8001FE;
    }
}

/*Styles for the container holding the headshot and my titles*/
.headshot-title {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    position: relative;
    width:100%;
    height:auto;
    grid-template-columns: repeat(auto-fit, minmax(500px,1fr));
    overflow-x:hidden;
    /*Styles for text next to my headshot*/

    .self-description-headers {
        background: linear-gradient(#cf9bfe, #8001FE);
        width:100%;
        .descriptors {
            font-size: 2.85em;
            font-family: monospace;
            width:100%;
            p.descriptors {
                margin: .15em;
                text-align: center;
                color: white;
                background-color: black;
            }

            #descriptor-analyst {
                margin-right:17vw;
                border-radius:2em;
                width:65vw;
                padding:2vw 0;
            }

            #descriptor-designer {
                width: 4.75em;
                float: right;
                border-radius:2em;
                padding:2vw 4vw;
                margin-right:0;
            }

            #descriptor-programmer {
                color: black;
                background-color: white;
                width: 80vw;
                border-radius:2em;
                padding:2vw 2vw;
                margin-top:.4em;
                margin-bottom:.25em;
            }
        }
    }

    .name-container{
        height:38vw;
        width:30vw;
        margin-bottom:9vw;
        }
    .name{
        padding:0 10vw;
        vertical-align: text-bottom;
        text-align:center;
        color:white;
        font-family:monospace;
        font-size:16vw;
        text-decoration: underline;
        }
    /*Styles for headshot*/
    .headshot-below-headers{
        padding-top:17vw;
        height:auto;
        width:100%;
        display:flex;
        #myHeadshot{
            height:auto;
            object-fit: contain;
            align-self: end;
        }
    }
}

/*Styles for the container containing my portfolio*/
.myPortfolio{
    background-color:white;
    padding:10vw 0;
    display: grid;
    position: relative;
    grid-gap:3vw;
    grid-template-columns: repeat(auto-fit, minmax(100vw, 1fr));
    #heading-my-portfolio{
        color: white;
        text-align: center;
        font-size:15vw;
        background: linear-gradient(#cf9bfe, #8001FE);
        border-radius:13vw;
        margin-right:auto;
        margin-left:auto;
        width:90vw;
    }
    /*Styles related to the Personal Finance Manager container.*/
    .personalFinanceManager{
        position:relative;
        display: grid;
        align-content: center;
        justify-content: center;
         #img-personal-finance-manager{
            border-radius: 5em;
            width:90vw;
            border: solid;
            border-color: black;
        }
        .financeHoverEffect{
            position:absolute;
            width:90vw;
            height:91vw;
            background-color: rgba(0,0,0,.4);
            opacity:0;
            transition: 0.5s ease;
            justify-self:center;
            border-radius:5em;
        }
    }
    .personalFinanceManager:hover .financeHoverEffect{
         opacity:1;
     }
    .personalWebsite{
        display: grid;
        align-content: center;
        justify-content: center;
        img.personalWebsite{
            border-radius:5em;
            width:90vw;
            height:90vw;
            border: solid;
            border-color: black;
        }
        .personalWebsiteHoverEffect{
            position:absolute;
            width:90vw;
            height:91vw;
            background-color: rgba(0,0,0,.4);
            opacity:0;
            transition: 0.5s ease;
            justify-self:center;
            border-radius:5em;
        }
    }
    .personalWebsite:hover .personalWebsiteHoverEffect{
        opacity:1;
    }
    .carbonesMarketingSystem{
        display: grid;
        align-content: center;
        justify-content: center;
        img.carbonesMarketingSystem{
            border-radius:5em;
            height:90vw;
            width:90vw;
            object-fit: scale-down;
            border: solid;
            border-color: black;
            }
        .carbonesHoverEffect{
            position:absolute;
            width:90vw;
            height:91vw;
            background-color: rgba(0,0,0,.4);
            opacity:0;
            transition: 0.5s ease;
            justify-self:center;
            border-radius:5em;
        }
        }
    .carbonesMarketingSystem:hover .carbonesHoverEffect{
        opacity:1;
        }
    }

/*Styles for the Personal Finance Manager Popup*/
.pop-up-personal-finance-manager{
    display:block;
    z-index: 3;
    position: fixed;
    overflow: auto;
    width:100%;
    height:0%;
    left: 0;
    top: 0;
    transition:height .75s ease-in-out;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);

    .pop-up-finance-content {
        width: 95vw;
        height: auto;
        margin: 15% auto;
        background-color: white;
        box-sizing: border-box;
        border: .5em solid;
        border-radius: 1.5em;
        border-color: #8001FE;

        #pop-up-finance-close-button{
            float:right;
            margin:3vw 3vw;
            background:rgba(0,0,0,0);
            border-radius:1.5vw;
            border-color:lightslategrey;
            color:#8001FE;
            font-family:monospace;
            font-size:5vw;
        }
        #pop-up-finance-close-button:hover{
            transition:.5s ease;
            color:white;
            background:#8001FE;
        }
        #image-personal-finance-manager{
            display:block;
            width:91vw;
            height:61vw;
            margin-right:auto;
            margin-left:auto;
        }
        #text-personal-finance-manager{
            padding:2em;
        }
        a.pop-up-finance-content{
            font-family: monospace;
            font-size:1.75em;
            padding:.5em;
            margin-left:.75em;
            color:black;
            margin-bottom:.2em;
            border:0;
            background:none;
        }
        a.pop-up-finance-content:hover{
            transition: 0.5s ease;
             color:#8001FE;
             text-decoration-color:#8001FE;
         }
        #heading-personal-finance-manager{
            text-align:center;
            font-size:14vw;
        }
    }
}

/*Styles for the Personal Website Popup*/
.pop-up-personal-website{
    display:none;
    z-index: 3;
    position: fixed;
    overflow: auto;
    width:100%;
    height:100%;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    .pop-up-personal-website-content{
        width: 95vw;
        height: auto;
        margin: 15% auto;
        background-color: white;
        box-sizing: border-box;
        border: .5em solid;
        border-radius: 1.5em;
        border-color: #8001FE;
        #image-personal-website{
            display:block;
            width:91vw;
            height:52vw;
            margin-right:auto;
            margin-left:auto;
        }
        #heading-personal-website{
            text-align:center;
            font-size:14vw;
        }
        #pop-up-personal-website-close-button{
            float:right;
            margin:3vw 3vw;
            background:rgba(0,0,0,0);
            border-radius:1.5vw;
            border-color:lightslategrey;
            color:#8001FE;
            font-family:monospace;
            font-size:5vw;
        }
        #pop-up-personal-website-close-button:hover{
            transition:.5s ease;
            color:white;
            background:#8001FE;
        }
        a.pop-up-personal-website-content{
            font-family: monospace;
            font-size:1.75em;
            padding:.5em;
            margin-left:.75em;
            color:black;
            margin-bottom:.2em;
            border:0;
            background:none;
        }
        a.pop-up-personal-website-content:hover{
            transition: 0.5s ease;
            color:#8001FE;
            text-decoration-color:#8001FE;
        }
        #text-personal-website{
            padding:2em;
        }
    }
}

/*Styles for the Carbone's Website Popup*/
.pop-up-carbones-website{
    display:none;
    z-index: 3;
    position: fixed;
    overflow: auto;
    width:100%;
    height:100%;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    .pop-up-carbones-website-content {
        width:95vw;
        height: auto;
        margin: 15% auto;
        background-color: white;
        box-sizing: border-box;
        border: .5em solid;
        border-radius: 1.5em;
        border-color: #8001FE;
        #pop-up-carbones-website-close-button{
            float:right;
            margin:3vw 3vw;
            background:rgba(0,0,0,0);
            border-radius:1.5vw;
            border-color:lightslategrey;
            color:#8001FE;
            font-family:monospace;
            font-size:5vw;
        }
        #pop-up-carbones-website-close-button:hover{
            transition:.5s ease;
            color:white;
            background:#8001FE;
        }
        #image-carbones-website{
            display:block;
            width:91vw;
            margin-right:auto;
            margin-left:auto;
        }
        #pop-up-carbones-website-text{
            padding:2em;
        }
        #link-my-projects{
            font-family: monospace;
            font-size:1.75em;
            padding:.5em;
            margin-left:.75em;
        }
        h3.carbonesMarketingSystem{
            text-align:center;
            font-size:14vw;
        }
        a.pop-up-carbones-website-content{
            font-family: monospace;
            font-size:1.75em;
            padding:.5em;
            margin-left:.75em;
            color:black;
            margin-bottom:.2em;
            border:0;
            background:none;
        }
        a.pop-up-carbones-website-content:hover{
            transition: 0.5s ease;
            color:#8001FE;
            text-decoration-color:#8001FE;
        }
    }
}



/*Styles for the About container*/
.about{
    background: linear-gradient(#8001FE, #cf9bfe);
    display: grid;
    position: relative;
    grid-gap:2em;
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    #heading-about{
        margin-right: auto;
        margin-left: auto;
        font-size:16vw;
        background: white;
        text-align:center;
        padding:.3em;
        border-radius:2em;
        width: 80vw;
    }
    .about-container-text{
        padding:5em 0em;
    }
    #about-text{
        margin: 0 5vw;
        color:white;
        padding-top:1.5em;
    }
    .about-container-image-circuts{
        height:40em;
        #about-image-circuts{
            height:100%;
            width:100%;
            object-fit:fill;
        }
    }
}

/*Styles for Contact container*/
.contact{
    width:100vw;
    padding: 13vw 0;
    margin-right:auto;
    margin-left:auto;
    display:flex;
    align-items:center;
    justify-content:center;
    .contact-form{
        align-items:center;
        justify-content:center;
        background: linear-gradient(#8001FE, #cf9bfe);
        border-radius:2em;
        display: flex;
        flex-direction:column;
        padding: 0 0;
        #heading-contact{
            font-size:20vw;
            padding:6vw;
            color:white;
        }
        input.contact-form, textarea.contact-form{
            margin:2vw 5vw ;
            padding: .5em;
            background:white;
            font-family:monospace;
            font-size:1em;
            width:71vw;
        }
        textarea.contact-form{
            resize: vertical;
        }
        #contact-button{
            margin:2em 0;
            padding:1.2em;
            background:black;
            color:white;
            border-radius:2em;
            font-family:monospace;
            border-color:rgba(255,255,255,0);
        }
        #contact-button:hover{
            transition:.5s ease;
            color:#8001FE;
            background:white;
        }
        #name{

        }
        #email{

        }
        #phone{

        }
        #message{

        }
    }
}

/*Styles for the bottom navbar*/
#bottomNavBar{
    overflow:hidden;
    width:100%;
    top:0;
    z-index:1;
    display: grid;
    position: relative;
    grid-gap:2em;
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    padding:3em 0em;
    background:linear-gradient(black, #350E56);
    .my-links-container{
        display: inline-grid;
        margin-right:auto;
        margin-left:auto;
        display:grid;
        align-items:center;
        justify-content:center;
        text-decoration-color:white;
        font-family:monospace;
        color:white;
        padding:0 3vw;
        text-align:center;
        a.my-links-container{
            font-size:6.5vw;
            padding:1vw;
        }
        a.my-links-container:hover{
            transition: 0.5s ease;
            color:#8001FE;
            text-decoration-color:#8001FE;
        }
        #my-links-heading{
            color:#8001FE;
            font-size:15vw;
            margin: 0 0;
            margin-bottom:.5em;
            grid-row:1;
            text-align:center;
        }
        #bot-navbar-home-link{
            grid-row:2;
        }
        #bot-navbar-my-portfolio-link{
            grid-row:3;
        }
        #bot-navbar-about-link{
            grid-row:4;
        }
        #bot-navbar-contact-link{
            grid-row:5;
        }
    }


    .on-the-web-container{
        display: inline-grid;
        display:grid;
        text-decoration-color:#8001FE;
        font-family:monospace;
        grid-gap:2vw;
        padding:0 3vw;
        a.on-the-web-container{
            grid-row:2;
        }
        h3.on-the-web-container{
            text-align:center;
            grid-column: auto/span 2;
            font-size: 15vw;
            margin:0 0;
            padding-bottom:.75em;
            align-self:center;
            justify-self:center;
        }
        #github-link{
            margin-right:auto;
            align-self:center;
            align-items:center;
        }
        #normal-github-logo{
            height:25vw;
            justify-self:center;
        }
        #purple-github-logo{
            height:25vw;
            display:none;
            justify-self:center;
        }
        #linked-in-link{
            margin-left:auto;
            align-self:center;
        }
        #normal-linkedin-logo{
            height:24vw;
            justify-self:center;
        }
        #purple-linkedin-logo{
            height:24vw;
            display:none;
            justify-self:center;
        }
    }
    #linked-in-link:hover #normal-linkedin-logo{
        display:none;
    }
    #linked-in-link:hover #purple-linkedin-logo{
       display:grid;
    }
    #github-link:hover #normal-github-logo{
        display:none;
    }
    #github-link:hover #purple-github-logo{
        display:grid;
    }

    .logo-container{
        display:flex;
        justify-content:center;
        align-items:center;
        img.logo-container{
            width:13em;
            height:13em;
            border-radius:.75em;
        }
    }
}

