/*Styles for general tags*/
body{
    margin:0;
}

h2{
    font-family:monospace;
    font-size:50px;
    color: #8001FE;
    margin-block-start: 0em;
    margin-block-end:0em;
}
h3{
    color: #8001FE;
    font-family:monospace;
    font-size:35px;
}
p{
    margin-block-start: 0em;
    margin-block-end:0em;
    color: #8001FE;
    font-family:monospace;
    font-size:1.75em;
}

button{
    position:relative;
}

/*Styles for the top navbar*/
.topNavBar{
    background-color:black;
    overflow:hidden;
    position: fixed;
    width:100%;
    z-index:2;
    height:10em;
    display:grid;
    grid-gap:2em;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    .top-navbar-links{
        margin:auto;
        font-family:monospace;
        color: #8001FE;
        font-size:1.5em;
        padding:2.2em;
        grid-column:auto/span 2;
    }
    .top-navbar-home-link{
        margin-top:auto;
        margin-bottom: auto;
        font-family:monospace;
        color:white;
        font-size:1.85em;
        margin-left:1.75em;
    }
}


/*Styles for the container holding the headshot and my titles*/
.headshot-title {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    position: relative;
    background-color: #8001FE;
    height: 50em;
    grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
    /*grid-template-columns: repeat(12,1fr);*/

    /*Styles for text next to my headshot*/

    .self-description-headers {
        padding-top: 14em;
        grid-row: 1;
        z-index: 1;

        .descriptors {
            font-size: 2.85em;
            font-family: monospace;

            p.descriptors {
                margin: .15em;
                text-align: center;
                color: white;
                background-color: black;
            }

            #descriptor-analyst {
                width: 4.25em;
            }

            #descriptor-designer {
                width: 4.75em;
                float: right;
            }

            #descriptor-programmer {
                color: black;
                background-color: white;
                width: 5.75em;
                margin: auto;
            }
        }
    }

    .name-container{
        height:7em;
        width:60%;
        }
    .name{
        padding-top:.4em;
        vertical-align: text-bottom;
        text-align:center;
        color:white;
        font-family:monospace;
        font-size:4.25em;
        text-decoration: underline;
        }
    /*Styles for headshot*/
    .headshot-below-headers{
        padding-top:10em;
        grid-row: 1;
        background-color:#8001FE;
        height:40em;
        #myHeadshot{
            height:40em;
            object-fit: contain;
        }
    }
}

/*Styles for the container containing my portfolio*/
.myPortfolio{
    background-color:white;
    display: grid;
    position: relative;
    grid-gap:2em;
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    #heading-my-portfolio{
        grid-row:1;
        color: #8001FE;;
        padding-top:1em;
        text-align: center;
        font-size:6em;
        grid-column:auto/span 3;
    }
    /*Styles related to the Personal Finance Manager container.*/
    .personalFinanceManager{
        grid-row:2;
        h3.personalFinanceManager{
            text-align: center;
        }
        img.personalFinanceManager{
            border-radius: 5em;
            width:29em;
        }
        button.personalFinanceManager{
            border-radius: 5em;
            left:15%;
            background-color:#E3F9C1;
        }
    }
    .personalWebsite{
        grid-row:2;
        h3.personalWebsite{
            text-align: center;
        }
        img.personalWebsite{
            border-radius:5em;
            width:29em;
        }
        button.personalWebsite{
            border-radius:5em;
            left:10%;
            background-color:#1ABC9C;
        }
    }
    .carbonesMarketingSystem{
        grid-row:2;
        h3.carbonesMarketingSystem{
            text-align: center;
            }
        img.carbonesMarketingSystem{
            border-radius:5em;
            height:29em;
            width:29em;
            object-fit: scale-down;
        }
        button.carbonesMarketingSystem{
            border-radius:5em;
            left:5%;
            background-color:white;
            }
        }
    }

/*Styles for the Personal Finance Manager Popup*/
.pop-up-personal-finance-manager{
    display:none;
    z-index: 3;
    position: fixed;
    overflow: auto;
    width:100%;
    height:100%;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    .pop-up-finance-content {
        width: 60%;
        height: auto;
        margin: 15% auto;
        background-color: white;
        box-sizing: border-box;
        border: .5em solid;
        border-radius: 1.5em;
        border-color: #8001FE;

        .pop-up-finance-close-button-container{
            width:100%;
            height:3em;
        }
        #pop-up-finance-close-button{
            float:right;
            padding-left:.5em;
            padding-right:.5em;
            margin:1.25em;
            background:rgba(0,0,0,0);
            border-radius:.3em;
            border-color:lightslategrey;
            .exit-button-text{
                text-font:5em;
            }
        }
        #image-personal-finance-manager{
            display:block;
            width:50em;
            margin-right:auto;
            margin-left:auto;
        }
        #text-personal-finance-manager{
            padding:2em;
        }
        .link-my-projects{
            font-family: monospace;
            font-size:1.75em;
            padding:.5em;
            margin-left:.75em;
        }
        #heading-personal-finance-manager{
            text-align:center;
            font-size:4em;
        }
    }
}

/*Styles for the Personal Website Popup*/
.pop-up-personal-website{
    display:none;
    z-index: 3;
    position: fixed;
    overflow: auto;
    width:100%;
    height:100%;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    .pop-up-personal-website-content{
        width: 60%;
        height: auto;
        margin: 15% auto;
        background-color: white;
        box-sizing: border-box;
        border: .5em solid;
        border-radius: 1.5em;
        border-color: #8001FE;
        #image-personal-website{
            display:block;
            width:50em;
            margin-right:auto;
            margin-left:auto;
        }
        #heading-personal-website{
            text-align:center;
            font-size:4em;
        }
        #pop-up-personal-website-close-button{
            float:right;
            padding-left:.5em;
            padding-right:.5em;
            margin:1.25em;
            background:rgba(0,0,0,0);
            border-radius:.3em;
            border-color:lightslategrey;
            .exit-button-text{
                text-font:5em;
            }
        }
        .link-my-projects{
            font-family: monospace;
            font-size:1.75em;
            padding:.5em;
            margin-left:.75em;
        }
        #text-personal-website{
            padding:2em;
        }
    }
}

/*Styles for the Carbone's Website Popup*/
.pop-up-carbones-website{
    display:none;
    z-index: 3;
    position: fixed;
    overflow: auto;
    width:100%;
    height:100%;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    .pop-up-carbones-website-content {
        width: 60%;
        height: auto;
        margin: 15% auto;
        background-color: white;
        box-sizing: border-box;
        border: .5em solid;
        border-radius: 1.5em;
        border-color: #8001FE;
        .pop-up-carbones-website-close-button-container{
            width:100%;
            height:3em;
        }
        #pop-up-carbones-website-close-button{
            float:right;
            padding-left:.5em;
            padding-right:.5em;
            margin:1.25em;
            background:rgba(0,0,0,0);
            border-radius:.3em;
            border-color:lightslategrey;
            .exit-button-text{
                text-font:5em;
            }
        }
        #image-carbones-website{
            display:block;
            width:30em;
            margin-right:auto;
            margin-left:auto;
        }
        #pop-up-carbones-website-text{
            padding:2em;
        }
        #link-my-projects{
            font-family: monospace;
            font-size:1.75em;
            padding:.5em;
            margin-left:.75em;
        }
        h3.carbonesMarketingSystem{
            text-align:center;
            font-size:4em;
            padding:.5em;
        }
        .link-my-projects{
            font-family: monospace;
            font-size:1.75em;
            padding:.5em;
            margin-left:.75em;
        }
    }
}

/*Styles for the bottom navbar*/
#bottomNavBar{
    overflow:hidden;
    background-color:black;
    width:100%;
    top:0;
    z-index:500;
    #my-links{
    color:white;
    }
}

/*Styles for the About container*/
.about{
}

/*Styles for Contact container*/
.contact{
}